@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Red Hat Text", sans-serif; */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888585;
}

.app-status{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  scale: 0.7;
}


.app-status-online:hover::after {
  content: " Online"; 
  position: absolute;
  bottom: 100%; 
  right: 50%;
  transform: translateX(50%);
  background-color: #555; 
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap; 
  z-index: 3; 
}

.app-status-offline:hover::after {
  content: " Offline"; position: absolute;
  bottom: 100%; 
  right: 50%;
  transform: translateX(50%);
  background-color: #555; 
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap; 
  z-index: 3; 
}

body {
  background-color: #fff;
}

.logo-container img {
  height: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4vw;
  background: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.nav-items ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  flex-wrap: nowrap;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.body {
  padding: 2vw;
  margin-top: 5vw;
}

.res-container {
  padding: 2vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
  align-items: center;
}

.res-card {
  height: 20rem;
  width: 20vw;
  padding: 12px;
  border-radius: 10px;
  background: #d1d0d0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.res-card:hover {
  scale: 0.99;
}

.res-card img {
  height: 60%;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.res-card .rating {
  font-weight: 500;
  color: #222;
}

.res-details {
  padding-top: 10px;
  padding-left: 3px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurant-link {
  text-decoration: none;
  color: inherit;
}

.res-card .res-details .rating span {
  font-weight: 600;
}

.food-location {
  font-size: 0.93rem;
  color: #444;
  height: 50px;
  overflow: hidden;
}

.food-choice {
  height: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.location {
  height: 50%;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2.5vw 0 2vw;
}

.search {
  display: flex;
  gap: 1vw;
}

.search-input {
  padding: 10px;
  border: 2px solid grey;
  width: 20vw;
  outline: none;
  border-radius: 6px;
}

.button {
  padding: 10px;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 6px;
  transition: all 0.1s ease;
}

.button:hover {
  background-color: #c0bebe;
  border: 2px solid #c0bebe;
}

.buttons {
  display: flex;
  gap: 1vw;
}

.shimmer-component {
  padding: 2vw;
  margin-top: 5vw;
  overflow: hidden;
}

.shimmer-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2.5vw 0 2vw;
}

.shimmer-input {
  height: 40px;
  border: none;
  background-color: #c5c5c5dd;
  width: 30%;
  outline: none;
  border-radius: 6px;
}

.shimmer-buttons {
  display: flex;
  gap: 1vw;
}

.shimmer-cards {
  padding: 2vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
  align-items: center;
}

.shimmer-filter-btn,
.shimmer-reset-filter {
  border-radius: 6px;
  background: #c5c5c5dd;
  height: 40px;
  width: 90px;
}

.shimmer-card {
  height: 20rem;
  width: 20vw;
  border-radius: 10px;
  background: #c5c5c5dd;
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f0f0f0; /* Light grey background */
  color: #333; /* Dark grey text */
  text-align: center;
}

.error-page h1 {
  font-size: 5rem;
  margin: 0;
  color: #555; /* Medium grey for the main error code */
}

.error-page h2 {
  font-size: 2rem;
  color: #666; /* Lighter grey for the subtitle */
}

.error-page p {
  font-size: 1.2rem;
  color: #777; /* Even lighter grey for the paragraph text */
}

.main-div {
  height: fit-content;
  width: 70%;
  margin: auto;
  padding-top: 2vw;
}

.offer-div {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.offer-element {
  background-color: red;
  display: flex;
  gap: 1vw;
  padding: 1vw 1.5vw 1vw 1vw;
  width: fit-content;
}

.offer-icon {
  font-size: 3.5rem;
  margin-top: 0.4rem;
  color: #e76012;
}

li {
  list-style: none;
}

.res-main-info h2 {
  font-size: 1.2rem;
}

.res-main-info h3 {
  font-size: 1.1rem;
  color: rgb(255, 82, 0);
  text-decoration: underline;
}

.res-main-info {
  border: 1px solid #dadada;
  background-color: #fff;
  margin: 1rem 0 3rem 0;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.embla {
  width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
  margin-bottom: 3rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  /* backface-visibility: hidden; */
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
@media (min-width: 750px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}
@media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}
.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}
@media (min-width: 750px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}
@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.2rem;
  height: 5rem;
  cursor: pointer;
  font-weight: 600;
  border: 1.6px solid rgb(209, 209, 209);
  display: flex;
  align-items: center;
  height: var(--slide-height);
  padding-right: 1rem;
  overflow: hidden;
}
.embla__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2rem;
  height: 2rem;
  z-index: 1;
  border-radius: 50%;
  background-color: #cecccc;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 2rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
  background-color: #222;
}

.embla__slide__number h1 {
  font-size: 1.2rem;
}

.embla__slide__number p {
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 75%;
}

.carousel-div h2 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.menu-dishes {
  margin-top: 3rem;
}

.menu-search-div {
  position: relative;
  margin: 3rem 0 2rem 0;
}

.menu-search {
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: #cecccc;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  right: 1.5rem;
  top: 0.9rem;
  font-size: 1.2rem;
}

.picks__slide__number {
  height: 18rem;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.2rem;
  font-weight: 600;
  border: 1.6px solid rgb(209, 209, 209);
  display: flex;
  align-items: center;
  height: var(--slide-height);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.picks__slide__number h1 {
  position: absolute;
  font-size: 1rem;
}

.picks__slide__number img {
  height: 100%;
  width: 100%;
  padding: 0;
  object-fit: cover;
}

.picks-slide-add {
  position: absolute;
  bottom: 1vw;
  color: #fff;
  padding: 0 1.5vw;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.picks-slide-add h2 {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.rupee-symbol {
  margin-bottom: -0.2rem;
}

.dish-add-button {
  border: none;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #fff;
  color: rgb(8, 192, 8);
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: 0 0 20px #0003;
}

.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

.collapsible-btn {
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 900;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.category-collapsible-btn {
  font-size: 1.1rem;
  font-weight: 700;
}

.dropdown-arrow {
  font-size: 1.2rem;
  font-weight: 900;
  transition: transform 0.3s ease;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 60px 20px;
  border-bottom: 1px solid #cecccc;
  height: 17rem;
}

.menu-item-details {
  width: 60%;
}

.menu-item-add {
  width: 25%;
  height: 100%;
  position: relative;
}

.menu-item-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu-item-name {
  font-size: 1.2rem;
  color: #555;
}

.menu-item-price {
  font-size: 1.2rem;
  color: #333;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.menu-item-rating {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 500;
  margin: 10px 0;
}

.menu-item-rating-child {
  color: rgb(27, 166, 114);
  display: flex;
  align-items: center;
}

.menu-item-image {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.item-add-button {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.item-add-button-noimg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.item-add-text {
  font-size: 1rem;
  font-weight: 500;
}

.veg-icon {
  color: rgb(8, 192, 8);
}

.non-veg-icon {
  color: red;
}

.footer {
  background: #d3d4d9;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer h1{
  font-size: 1.2rem;
}